@font-face {
    font-family: 'warfare';
    src: url('../font/ModernWarfare-OV7KP.ttf');
}
@font-face {
    font-family: '';
    src: url('');
}
@font-face {
    font-family: '';
    src: url('');
}
@font-face {
    font-family: '';
    src: url('');
}
@font-face {
    font-family: '';
    src: url('');
}
@font-face {
    font-family: '';
    src: url('');
}